<?xml version="1.0" encoding="utf-8"?>
<robot name="arm_v3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- BASE -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 4.86187138273593E-18 0.0325" rpy="0 0 0" />
      <mass value="1.26223302335012" />
      <inertia
        ixx="0.00278940349899718"
        ixy="3.0463870585319E-37"
        ixz="-7.86275503544723E-36"
        iyy="0.00278940349899718"
        iyz="-1.44135783627155E-35"
        izz="0.00468998457738531" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.341176470588235 0.666666666666667 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- JOINT 1 -->
  <link name="bracket_link">
    <inertial>
      <origin xyz="3.1709E-05 -7.6273E-18 0.021174" rpy="0 0 0" />
      <mass value="0.1844" />
      <inertia
        ixx="0.00016429"
        ixy="-5.4545E-20"
        ixz="-1.128E-06"
        iyy="0.00012823"
        iyz="-3.9826E-20"
        izz="0.00017784" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/bracket_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/bracket_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="bracket_joint" type="revolute">
    <origin xyz="0 0 0.056" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="bracket_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5" upper="1.5" effort="10" velocity="1" />
    <dynamics damping="0.05" friction="0.1" />
  </joint>

  <!-- JOINT 2 -->
  <link name="humerus_link">
    <inertial>
      <origin xyz="0.04161 -0.027 0.21154" rpy="0 0 0" />
      <mass value="0.23656" />
      <inertia
        ixx="0.0024284"
        ixy="5.5605E-18"
        ixz="-0.0003857"
        iyy="0.0023823"
        iyz="-4.177E-19"
        izz="0.00029595" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/humerus_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/humerus_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="humerus_low_joint" type="revolute">
    <origin xyz="0.02545 0.027 0.0267" rpy="0 0 0" />
    <parent link="bracket_link" />
    <child link="humerus_link" />
    <axis xyz="0 -1 0" />
    <limit lower="-1.5" upper="1.5" effort="10" velocity="1" />
    <dynamics damping="0.05" friction="0.1" />
  </joint>

  <!-- JOINT 3 -->
  <link name="forearm_link">
    <inertial>
      <origin xyz="0.19879 -0.024 0.018541" rpy="0 0 0" />
      <mass value="0.45893" />
      <inertia
        ixx="0.00028894"
        ixy="-1.0051E-19"
        ixz="-0.0002455"
        iyy="0.0027995"
        iyz="-8.635E-21"
        izz="0.0028992" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/forearm_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/forearm_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="forearm_low_joint" type="revolute">
    <origin xyz="0.078419 -0.003 0.38581" rpy="0 0 0" />
    <parent link="humerus_link" />
    <child link="forearm_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5" upper="1.5" effort="10" velocity="1" />
    <dynamics damping="0.05" friction="0.1" />
  </joint>

  <!-- JOINT 4 -->
  <link name="ubracket_link">
    <inertial>
      <origin xyz="0.012798 -0.021625 0.0011934" rpy="0 0 0" />
      <mass value="0.0069614" />
      <inertia
        ixx="3.3371E-06"
        ixy="3.4941E-21"
        ixz="-2.8436E-08"
        iyy="1.6083E-06"
        iyz="-3.1702E-21"
        izz="3.6394E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/ubracket_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/ubracket_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="ubracket_joint" type="revolute">
    <origin xyz="0.31277 -0.002375 0.029164" rpy="0 0 0" />
    <parent link="forearm_link" />
    <child link="ubracket_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.8" upper="0.8" effort="10" velocity="1" />
    <dynamics damping="0.05" friction="0.1" />
  </joint>

  <!-- JOINT 5 (End-effector) -->
  <link name="endeffector_link">
    <inertial>
      <origin xyz="0.070675 -2.0417E-16 0.0065901" rpy="0 0 0" />
      <mass value="0.069773" />
      <inertia
        ixx="9.2829E-06"
        ixy="3.0953E-19"
        ixz="-1.0257E-05"
        iyy="0.00011854"
        iyz="3.0509E-20"
        izz="0.00011833" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/endeffector_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.31765 0.96863 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_core/meshes/endeffector_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="endeffector_joint" type="revolute">
    <origin xyz="0.014935 -0.021625 0.0013926" rpy="0 0 0" />
    <parent link="ubracket_link" />
    <child link="endeffector_link" />
    <axis xyz="0.99568 0 0.092843" />
    <limit lower="-4.5" upper="4.5" effort="10" velocity="1" />
    <dynamics damping="0.05" friction="0.1" />
  </joint>

</robot>